header {
   background-color: #ff8c94;
   height: 62px;
   padding: 0 5%;
   width: 90%;
   position: absolute;
   z-index: 1000;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  header nav ul li {
    margin: 0 1rem;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
